
example-data-science-notebook/.ipynb_checkpoints/Example Machine Learning Notebook-checkpoint.ipynb

optimal-road-trip/.ipynb_checkpoints/Computing the optimal road trip across the U.S.-checkpoint.ipynb

rethinking-population-pyramid/.ipynb_checkpoints/Rethinking the population pyramid-checkpoint.ipynb

wheres-waldo-path-optimization/.ipynb_checkpoints/Where's Waldo path optimization-checkpoint.ipynb

revisiting-vaccine-visualizations/.ipynb_checkpoints/Revisiting the vaccine visualizations-checkpoint.ipynb
